current_dir = File.dirname(__FILE__)
log_level                :info
log_location             STDOUT
node_name                "admin"
client_key               "#{current_dir}/admin.pem"
validation_client_name   "chef-validator"
validation_key           "#{current_dir}/chef-validator.pem"
chef_server_url          "https://chef-server.openstack.vagrant"
cache_type               'BasicFile'
cache_options( :path => "#{current_dir}/checksums" )
cookbook_path            ["#{current_dir}/../cookbooks"]
role_path                ["#{current_dir}/../roles"]

# all your credentials are belong to us

# OpenStack
knife[:openstack_username] = ENV['OS_USERNAME']
knife[:openstack_password] = ENV['OS_PASSWORD']
knife[:openstack_auth_url] = ENV['OS_AUTH_URL']
knife[:openstack_tenant]   = ENV['OS_TENANT']

# require 'fog'
# connection = Fog::Compute.new(:provider => 'OpenStack', :openstack_username => ENV['OS_USERNAME'], :openstack_auth_url => ENV['OS_AUTH_URL'], :openstack_api_key => ENV['OS_PASSWORD'] )
